body{
    height: 100%;
    width: 100%;
    font-size: 300vh;
   
}

div{
   color:rgb(4, 4, 63);;
    margin-top: 10vh;
    text-align: center;
}

button{
    height: 8vh;
    width: 13vw;
    font-size: 200%;
    margin-top: 52vh;
    margin-left: 82vw;
    background-color: white;
}

p{
font-size: 500%;
margin: 0%;
}